In [42]:
import pandas as pd

In [48]:
rest_db = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Res_Cleaned1.csv")
rest_db.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,30075445,DOUBLE DRAGON,Bronx,182,EAST 166 STREET,10456.0,7184102838,Chinese,2/24/20,Violations were cited in the following area(s).,...,9/11/21,Cycle Inspection / Re-inspection,40.831591,-73.918842,204.0,16.0,18102.0,2002727.0,2.024560e+09,BX14
1,30112340,C & J JAMAICAN RESTAURANT AND BAKERY,Queens,24712,S CONDUIT AVE,11422.0,7187122273,Caribbean,1/15/20,Violations were cited in the following area(s).,...,9/11/21,Cycle Inspection / Re-inspection,40.665344,-73.730738,413.0,31.0,65600.0,4289451.0,4.136210e+09,QN05
2,40356483,KINGSTON BAKE SHOP,Brooklyn,380,KINGSTON AVENUE,11225.0,7184672047,Jewish/Kosher,8/24/21,Violations were cited in the following area(s).,...,9/11/21,Cycle Inspection / Initial Inspection,40.665687,-73.942554,309.0,35.0,33300.0,3034304.0,3.012990e+09,BK63
3,40356731,DENNY'S,Brooklyn,805,PENNSYLVANIA AVENUE,11207.0,7182720301,American,2/4/20,Violations were cited in the following area(s).,...,9/11/21,Cycle Inspection / Initial Inspection,40.657892,-73.890098,305.0,42.0,110400.0,3097669.0,3.043470e+09,BK82
4,40357217,MBJ - E KIOSK,Queens,3110,THOMSON AVE,11101.0,7184820176,Coffee/Tea,1/9/20,Violations were cited in the following area(s).,...,9/11/21,Pre-permit (Operational) / Initial Inspection,40.744895,-73.935022,402.0,26.0,17900.0,4003534.0,4.002780e+09,QN31

In [49]:
len(rest_db)

12527

In [50]:
rest_db["Duplicate"] = rest_db.duplicated(keep = 'first')

In [51]:
rest_db["Duplicate"].value_counts()

False    12527
Name: Duplicate, dtype: int64

In [52]:
rest_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12527 entries, 0 to 12526
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CAMIS                  12527 non-null  int64
 1   DBA                    12525 non-null  object
 2   BORO                   12527 non-null  object
 3   BUILDING               12509 non-null  object
 4   STREET                 12527 non-null  object
 5   ZIPCODE                12381 non-null  float64
 6   PHONE                  12526 non-null  object
 7   CUISINE DESCRIPTION    12527 non-null  object
 8   INSPECTION DATE        12527 non-null  object
 9   ACTION                 12527 non-null  object
 10  VIOLATION CODE         12401 non-null  object
 11  VIOLATION DESCRIPTION  12440 non-null  object
 12  CRITICAL FLAG          12527 non-null  object
 13  SCORE                  12097 non-null  float64
 14  GRADE                  8144 non-null   object
 15  GRADE DATE             7364 non-null   object
 16  RECORD DATE            12527 non-null  object
 17  INSPECTION TYPE        12527 non-null  object
 18  Latitude               12514 non-null  float64
 19  Longitude              12514 non-null  float64
 20  Community Board        12352 non-null  float64
 21  Council District       12352 non-null  float64
 22  Census Tract           12352 non-null  float64
 23  BIN                    12290 non-null  float64
 24  BBL                    12498 non-null  float64
 25  NTA                    12352 non-null  object
 26  Duplicate              12527 non-null  bool
dtypes: bool(1), float64(9), int64(1), object(16)
memory usage: 2.5+ MB

In [53]:
rest_db.drop(['SCORE', 'GRADE','GRADE DATE','RECORD DATE','Community Board','Council District','Census Tract','BIN','BBL','NTA','Duplicate'], axis = 1,inplace = True)

In [54]:
rest_db.rename(columns={'dba': 'restaurant'}, inplace=True)

In [55]:
rest_db.to_csv("Data/cleaned_db.csv", index = False)

In [63]:
new_db = rest_db.dropna()

In [65]:
new_db.to_csv("Data/cleaned_db2.csv", index = False)

In [66]:
new_db.to_json("Data/cleaned_db2.json")